/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  width: 100%;
  float: left; }

body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #011F40; }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  color: #414042; }

h1 {
  margin: 0 0 1em 0;
  font-weight: 700;
  line-height: 1;
  color: #414042;
  font-size: 40px; }

/* PARAGRAPH */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #808285; }

a {
  color: #f5971e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none; }
  a:visited, a:active {
    outline: 0;
    color: #f5971e; }
  a:hover {
    color: #d67d0a;
    text-decoration: none; }

/* LISTS */
ul {
  padding: 0;
  list-style: none; }

.mainnav {
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #f1f2f2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .mainnav .row-fluid {
    padding: 2em 0 0; }
  .mainnav .bug {
    top: 0;
    left: 0;
    position: relative;
    float: left; }
  .mainnav ul {
    float: right; }
    .mainnav ul li {
      float: left; }
      .mainnav ul li.active a {
        color: #f5971e !important; }
      .mainnav ul li:after {
        content: "//";
        color: #f5971e;
        letter-spacing: -5px; }
      .mainnav ul li:last-child:after {
        content: none; }
      .mainnav ul li a {
        padding: 1em;
        text-transform: uppercase; }
        .mainnav ul li a, .mainnav ul li a:visited, .mainnav ul li a:active {
          color: #5b595c; }
        .mainnav ul li a:hover {
          color: #f5971e; }

.trigger {
  float: right;
  font-size: 27px; }

.logo {
  float: left; }

.cbp-spmenu-left ul {
  float: none; }
  .cbp-spmenu-left ul li {
    float: none; }
    .cbp-spmenu-left ul li.active a {
      background: #f5971e;
      color: black !important; }
    .cbp-spmenu-left ul li a:hover {
      color: black; }
    .cbp-spmenu-left ul li:after {
      content: none; }

/* General styles for all menus */
.cbp-spmenu {
  background: #D2D2D2;
  position: fixed; }

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 300; }

.cbp-spmenu a:hover {
  background: #f5971e; }

.cbp-spmenu a:active {
  background: #f5971e; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000; }

.cbp-spmenu-vertical a {
  padding: 10px; }

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden; }

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left; }

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -240px; }

.cbp-spmenu-right {
  right: -240px; }

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px; }

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px; }

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px; }

.cbp-spmenu-bottom {
  bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px; }

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px; }

/* Push classes applied to the body */
body {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toright {
  left: 240px; }

.cbp-spmenu-push-toleft {
  left: -240px; }

/* Transitions */
.cbp-spmenu,
body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px; }

  .cbp-spmenu-top {
    top: -110px; }

  .cbp-spmenu-bottom {
    bottom: -110px; } }
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px; }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px; }

  .cbp-spmenu-right {
    right: -190px; }

  .cbp-spmenu-push-toright {
    left: 190px; } }
.cbp-spmenu #close {
  display: inline-block;
  border: 0;
  font-size: 28px;
  background: #f5971e;
  margin-bottom: 1em; }
.cbp-spmenu .mnav-social li {
  float: left;
  display: inline; }
  .cbp-spmenu .mnav-social li a {
    border-bottom: 0; }
.cbp-spmenu .mnav-tophat {
  margin-top: 1em; }
  .cbp-spmenu .mnav-tophat li a {
    font-size: 14px;
    border-bottom: 0;
    color: #ccc;
    padding: 5px 10px; }

.cbp-spmenu .dropdown-menu {
  float: none;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0; }
  .cbp-spmenu .dropdown-menu li a {
    color: white; }

.dropdown-menu {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

/* Animations */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

@-webkit-keyframes shift_contrast {
  0% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  50% {
    -webkit-filter: contrast(2);
    filter: contrast(2); }
  100% {
    -webkit-filter: contrast(1);
    filter: contrast(1); } }
@-ms-keyframes shift_contrast {
  0% {
    filter: contrast(1); }
  40% {
    filter: contrast(2); }
  100% {
    filter: contrast(1); } }
@keyframes shift_contrast {
  0% {
    -webkit-filter: contrast(1);
    filter: contrast(1); }
  0% {
    -webkit-filter: contrast(2);
    filter: contrast(2); }
  100% {
    -webkit-filter: contrast(1);
    filter: contrast(1); } }
/* KEYFRAMES */
/* SENCHA ANIMATIONS */
/* Contact Form */
.main-form {
  position: relative;
  text-align: center; }
  .main-form label.error {
    font-size: 12px;
    color: red;
    font-family: "Raleway", sans-serif;
    padding-top: 0; }

.main-form:before,
.main-form:after {
  content: " ";
  display: table; }

.main-form:after {
  clear: both; }

.validate.main-form {
  text-align: left; }
  .validate.main-form .indicates-required {
    font-size: 10px; }

.subscribe p {
  margin-bottom: 0; }

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #808285;
  text-align: left; }

.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 0px 10px;
  color: #808285;
  display: block;
  width: 100%;
  background: white;
  border: solid 1px transparent;
  height: 30px;
  text-align: left; }

.main-form input,
.main-form textarea {
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none; }

.main-form textarea {
  min-height: 200px; }

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #808285;
  box-shadow: none; }

.main-form select:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic; }

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both; }

.main-form input.button {
  padding: 1.5em 3.5em;
  border: solid 2px #f5971e;
  color: #f5971e;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  height: auto;
  display: inline-block;
  width: 50%;
  margin: 2em auto;
  background: transparent;
  text-align: center; }
  .main-form input.button:visited, .main-form input.button:active {
    color: #f5971e;
    outline: 0; }
  .main-form input.button:hover {
    color: white;
    background: #f5971e; }

#nospam, .nospam {
  display: none; }

.thumbs {
  width: 47%;
  margin: 1%;
  float: left; }
  .thumbs img {
    width: 100%; }

#mc_embed_signup div.mce_inline_error {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  font-weight: bold;
  z-index: 1;
  color: red !important;
  font-size: 10px !important; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  display: table;
  width: 100%; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  padding: 0;
  background: white; }

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }
  .lt-ie9 img {
    width: auto; }

/* MAIN */
[class*="col"] {
  width: 100%; }

.logo {
  width: 80%; }

.row.full > [class^="col-"],
.row.full > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.blogBlock {
  max-width: 90%;
  margin: auto; }
  .blogBlock .meta {
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 3em; }
    .blogBlock .meta:before {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      background-color: #f5971e; }
  .blogBlock ul {
    margin: 0;
    padding: 0; }
    .blogBlock ul li {
      padding: 1em;
      text-align: left;
      background: #e6e7e8;
      padding: 3em; }
      .blogBlock ul li h2 {
        color: #414042;
        font-size: 25px;
        line-height: 1.2; }
      .blogBlock ul li .contentContain p {
        margin: 0 0 1em; }
      .blogBlock ul li:nth-child(even) {
        background: #f1f2f2; }

.button, .button-row a {
  padding: 1.5em 3.5em;
  border: solid 2px #f5971e;
  color: #f5971e;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px; }
  .button:visited, .button-row a:visited, .button:active, .button-row a:active {
    color: #f5971e;
    outline: 0; }
  .button:hover, .button-row a:hover {
    color: white;
    background: #f5971e; }

.button-row {
  margin-bottom: 10em; }
  .button-row a {
    text-align: center;
    float: left;
    margin: 0 !important; }
    .button-row a:first-child {
      color: #414042;
      border-color: #414042; }
      .button-row a:first-child:hover {
        color: #5b595c;
        background: transparent;
        border-color: #5b595c; }
    .button-row a:last-child {
      color: white;
      background: #414042;
      border-color: #414042; }
      .button-row a:last-child:hover {
        background: #5b595c;
        border-color: #5b595c; }

.pagetitle {
  text-transform: uppercase;
  margin-bottom: 1em; }
  .pagetitle p {
    color: #f5971e;
    position: relative;
    display: inline-block;
    font-size: 18px; }
    .pagetitle p:before {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      background-color: #414042; }

.mainnav .row-fluid {
  padding: 2em; }

.home .pagetitle {
  margin-top: 2em; }
.home section {
  text-align: center;
  padding: 0; }
  .home section .button, .home section .button-row a, .button-row .home section a {
    margin: 5em 0; }

.approach .hero, .contact .hero, .home .hero {
  padding: 3em 2.5em;
  margin: auto;
  max-width: 90%; }

.approach .main-content .col6 {
  height: 600px;
  display: table; }
  .approach .main-content .col6 .contentContain {
    display: table-cell;
    vertical-align: middle; }
.approach .main-content {
  background-color: white;
  margin-bottom: 0; }
.approach .pillars {
  text-align: center;
  padding: 5em 0 1em;
  background: white; }
  .approach .pillars .span4 {
    margin-bottom: 3em;
    padding: 0 2em; }
    .approach .pillars .span4 img {
      margin-bottom: 1em; }
    .approach .pillars .span4:last-child {
      margin-bottom: 0; }
  .approach .pillars p {
    margin: 0; }
.approach h2 {
  font-size: 40px; }
.approach .callout {
  text-align: center;
  background-color: #e6e7e8;
  padding: 4em 0;
  letter-spacing: 2px; }
  .approach .callout .meta {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 3em; }
    .approach .callout .meta:before {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      left: 25%;
      background-color: #f5971e; }
.approach .content {
  padding: 3em 1em;
  background-color: #f1f2f2; }
.approach .graphic {
  padding: 10em 0;
  background-size: cover;
  background-position: center;
  width: 100%; }

.hero {
  margin-top: 50px !important;
  text-align: left !important;
  padding: 3em 1em;
  background-size: cover;
  background-position: center; }
  .hero h1 {
    color: #414042;
    font-weight: 700;
    font-size: 40px; }
  .hero p {
    color: white;
    margin: 1em 0; }

.work {
  max-width: 90%;
  margin: auto;
  padding: 0; }
  .work > h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #9a9c9e;
    padding: 36px 0; }
  .work .item {
    padding: 1em; }
  .work > .row-fluid .third .item .overlay .content .content-contain, .work > .row-fluid .secondary .item .overlay .content .content-contain {
    display: inline-block; }
  .work > .row-fluid .third .item .overlay .content .meta, .work > .row-fluid .secondary .item .overlay .content .meta {
    margin-bottom: 1em; }
  .work > .row-fluid .third .item .overlay .content h2, .work > .row-fluid .secondary .item .overlay .content h2 {
    font-size: 25px; }
  .work > .row-fluid .third .item .overlay .content .button, .work > .row-fluid .third .item .overlay .content .button-row a, .button-row .work > .row-fluid .third .item .overlay .content a, .work > .row-fluid .secondary .item .overlay .content .button, .work > .row-fluid .secondary .item .overlay .content .button-row a, .button-row .work > .row-fluid .secondary .item .overlay .content a {
    margin: 1em 0; }
  .work > .row-fluid .item {
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white; }
    .work > .row-fluid .item:hover .overlay {
      opacity: 1;
      filter: alpha(opacity=1); }
    .work > .row-fluid .item .overlay {
      text-align: center;
      background: rgba(245, 151, 30, 0.8);
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      width: 90%;
      height: 90%;
      padding: 2em;
      margin: auto;
      position: relative;
      margin-top: 2.5%; }
      .work > .row-fluid .item .overlay h2 {
        color: white;
        line-height: 1.2; }
      .work > .row-fluid .item .overlay .button, .work > .row-fluid .item .overlay .button-row a, .button-row .work > .row-fluid .item .overlay a {
        padding: 1.5em 3.5em;
        border: solid 2px #414042;
        color: #414042;
        font-weight: 600;
        letter-spacing: 3px;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        margin: 1em 0; }
        .work > .row-fluid .item .overlay .button:visited, .work > .row-fluid .item .overlay .button-row a:visited, .button-row .work > .row-fluid .item .overlay a:visited, .work > .row-fluid .item .overlay .button:active, .work > .row-fluid .item .overlay .button-row a:active, .button-row .work > .row-fluid .item .overlay a:active {
          color: #414042;
          outline: 0; }
        .work > .row-fluid .item .overlay .button:hover, .work > .row-fluid .item .overlay .button-row a:hover, .button-row .work > .row-fluid .item .overlay a:hover {
          color: white;
          background: #414042; }
      .work > .row-fluid .item .overlay .content {
        display: table;
        width: 100%;
        height: 100%; }
        .work > .row-fluid .item .overlay .content h2 {
          font-size: 25px; }
      .work > .row-fluid .item .overlay .meta {
        color: white;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 3em; }
        .work > .row-fluid .item .overlay .meta:before {
          content: '';
          position: absolute;
          bottom: -10px;
          height: 2px;
          width: 50%;
          left: 25%;
          background-color: #414042; }
      .work > .row-fluid .item .overlay .content {
        text-align: center; }

.work .overlay .content {
  text-align: center; }

section {
  padding: 2em; }

.socialShare li {
  display: inline;
  margin: 0;
  padding: 0; }
  .socialShare li a {
    padding: 1em;
    text-transform: uppercase; }
  .socialShare li .facebook a {
    background: #1a4c7f; }
  .socialShare li .twitter a {
    background: #01aef0; }
  .socialShare li .email a {
    background: #818286; }

footer {
  background: #414042;
  padding: 3em 2em;
  text-align: left; }
  footer .row-fluid * {
    margin: 0; }
  footer * {
    color: white; }

.content {
  text-align: center; }

.ourWork .item {
  padding: 0; }
.ourWork .filters {
  margin: 3em auto;
  width: 90%; }
  .ourWork .filters li {
    display: inline-block;
    margin-right: 1em; }
    .ourWork .filters li.active p, .ourWork .filters li:hover p {
      color: #f5971e; }
    .ourWork .filters li p {
      cursor: pointer; }
.ourWork .main-content {
  margin: 3em auto;
  max-width: 1100px;
  padding: 0;
  background: none; }
  .ourWork .main-content ul.work .mix {
    display: none; }
  .ourWork .main-content ul.work li {
    float: left;
    width: 100%; }
    .ourWork .main-content ul.work li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .ourWork .main-content ul.work li:nth-child(1n) {
      margin-right: 0;
      margin-bottom: 0; }
    .ourWork .main-content ul.work li > div {
      background-size: cover;
      padding: 5%; }
      .ourWork .main-content ul.work li > div .overlay {
        text-align: center;
        background: rgba(245, 151, 30, 0.8);
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        padding: 1.25em;
        margin: auto;
        position: relative; }
        .ourWork .main-content ul.work li > div .overlay h2 {
          color: white;
          line-height: 1.2; }
        .ourWork .main-content ul.work li > div .overlay .button, .ourWork .main-content ul.work li > div .overlay .button-row a, .button-row .ourWork .main-content ul.work li > div .overlay a {
          padding: 1.5em 3.5em;
          border: solid 2px #414042;
          color: #414042;
          font-weight: 600;
          letter-spacing: 3px;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          margin: 1em 0;
          font-size: 10px; }
          .ourWork .main-content ul.work li > div .overlay .button:visited, .ourWork .main-content ul.work li > div .overlay .button-row a:visited, .button-row .ourWork .main-content ul.work li > div .overlay a:visited, .ourWork .main-content ul.work li > div .overlay .button:active, .ourWork .main-content ul.work li > div .overlay .button-row a:active, .button-row .ourWork .main-content ul.work li > div .overlay a:active {
            color: #414042;
            outline: 0; }
          .ourWork .main-content ul.work li > div .overlay .button:hover, .ourWork .main-content ul.work li > div .overlay .button-row a:hover, .button-row .ourWork .main-content ul.work li > div .overlay a:hover {
            color: white;
            background: #414042; }
        .ourWork .main-content ul.work li > div .overlay .content {
          display: table;
          width: 100%;
          height: 100%; }
          .ourWork .main-content ul.work li > div .overlay .content h2 {
            font-size: 20px;
            min-height: 50px; }
        .ourWork .main-content ul.work li > div .overlay .meta {
          color: white;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 1em; }
          .ourWork .main-content ul.work li > div .overlay .meta:before {
            content: '';
            position: absolute;
            bottom: -10px;
            height: 2px;
            width: 50%;
            left: 25%;
            background-color: #414042; }

.blog .paging {
  text-align: center; }
  .blog .paging ul {
    margin: 0;
    padding: 0; }
    .blog .paging ul li {
      width: auto;
      display: inline-block;
      color: white;
      margin: 0 5px 0 0;
      padding: 0;
      background: none !important;
      line-height: 0;
      height: auto; }
      .blog .paging ul li a {
        padding: 10px;
        background: #f5971e;
        color: white;
        line-height: 0;
        margin: 0;
        font-size: 12px; }
        .blog .paging ul li a.active {
          background: #414042; }
        .blog .paging ul li a:hover {
          background: #5b595c; }
      .blog .paging ul li:last-child {
        margin: 0; }
.blog .blogItems {
  margin: 1em;
  padding: 0; }
  .blog .blogItems .socialShare {
    margin-bottom: 3em; }
    .blog .blogItems .socialShare li {
      display: inline-block;
      margin: 5px 5px 5px 0px;
      padding: 0; }
      .blog .blogItems .socialShare li:last-child {
        margin-right: 0; }
      .blog .blogItems .socialShare li a {
        padding: .5em 1.5em;
        text-transform: uppercase;
        color: white;
        display: inline-block; }
      .blog .blogItems .socialShare li.facebook a {
        background: #1a4c7f; }
        .blog .blogItems .socialShare li.facebook a:hover {
          background: #2365a9; }
      .blog .blogItems .socialShare li.twitter a {
        background: #01aef0; }
        .blog .blogItems .socialShare li.twitter a:hover {
          background: #26c2fe; }
      .blog .blogItems .socialShare li.mail a {
        background: #818286; }
        .blog .blogItems .socialShare li.mail a:hover {
          background: #9b9c9f; }
  .blog .blogItems.main-content {
    padding: 2em; }
  .blog .blogItems .blogHead {
    margin-bottom: 3em; }
  .blog .blogItems .meta {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 2em; }
    .blog .blogItems .meta:before {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      background-color: #f5971e; }
  .blog .blogItems li {
    padding: 2em;
    margin: 0 0 2em;
    background: #f1f2f2; }
    .blog .blogItems li h2 a {
      font-size: 25px;
      color: #414042;
      margin-bottom: 1.5em; }
      .blog .blogItems li h2 a:hover {
        color: #f5971e; }
    .blog .blogItems li .span6 {
      margin-top: 1em;
      max-height: 500px;
      overflow: hidden; }
      .blog .blogItems li .span6 img {
        width: 100%; }
    .blog .blogItems li:last-child {
      margin-bottom: 0; }
    .blog .blogItems li:nth-child(even) {
      background: #e6e7e8; }

.content-contain {
  display: table-cell;
  vertical-align: middle; }

.workWith {
  background: #f5971e url("/resources/img/pattern.jpg") repeat;
  display: table;
  text-align: center; }
  .workWith .content-contain a {
    margin-bottom: 0; }
  .workWith h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 0; }
  .workWith .button, .workWith .button-row a, .button-row .workWith a {
    padding: 1.5em 3.5em;
    border: solid 2px #414042;
    color: #414042;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin: 3em 0; }
    .workWith .button:visited, .workWith .button-row a:visited, .button-row .workWith a:visited, .workWith .button:active, .workWith .button-row a:active, .button-row .workWith a:active {
      color: #414042;
      outline: 0; }
    .workWith .button:hover, .workWith .button-row a:hover, .button-row .workWith a:hover {
      color: white;
      background: #414042; }

.footer {
  padding: 0; }
  .footer div[class*="col"] {
    padding: 3em; }

.subscribe {
  text-align: left;
  background: #f1f2f2; }
  .subscribe h2 {
    color: #414042; }
  .subscribe p {
    color: #f5971e; }
  .subscribe .main-form .button, .subscribe .main-form .button-row a, .button-row .subscribe .main-form a {
    padding: 1.5em 3.5em;
    border: solid 2px #f5971e;
    color: #f5971e;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin: 1em 0;
    width: 100%; }
    .subscribe .main-form .button:visited, .subscribe .main-form .button-row a:visited, .button-row .subscribe .main-form a:visited, .subscribe .main-form .button:active, .subscribe .main-form .button-row a:active, .button-row .subscribe .main-form a:active {
      color: #f5971e;
      outline: 0; }
    .subscribe .main-form .button:hover, .subscribe .main-form .button-row a:hover, .button-row .subscribe .main-form a:hover {
      color: white;
      background: #f5971e; }
  .subscribe input[type="text"] {
    background: white; }

.social {
  margin: 0; }
  .social li {
    display: inline;
    margin-right: 1em; }
    .social li a {
      color: white; }

a:active, a:focus {
  outline: 0 !important;
  text-decoration: none; }

.back {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  text-transform: uppercase; }

.wrap {
  margin: 0 auto;
  max-width: 940px; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

hr.half {
  border-top: solid 2px #f5971e;
  width: 50px;
  margin: 2em auto;
  border-bottom-color: transparent; }

.main-content {
  margin: 0 auto 50px;
  background: #f1f2f2;
  padding: 0 0 5em 0;
  max-width: 90%; }

.contact {
  text-align: center; }
  .contact .careers {
    background: #e7e7e9; }
  .contact .main-content {
    padding: 0; }
    .contact .main-content .wrap {
      max-width: 550px;
      padding: 5em 2em; }
  .contact .main-form input.button {
    width: auto; }

@media (min-width: 768px) and (max-width: 1025px) {
  .logo {
    margin-left: 1em; }

  .mainnav .row-fluid {
    padding: 2em 2em 0 2em !important; } }
@media (min-width: 768px) and (max-width: 939px) {
  .work .featured.item {
    width: 100%; }
  .work .col6.secondary {
    width: 100%; }
    .work .col6.secondary .item {
      width: 100%; }
    .work .col6.secondary .third .item {
      width: 50%; } }
.work .secondary .third .item .button, .work .secondary .third .item .button-row a, .button-row .work .secondary .third .item a {
  padding: 1.5em 1em; }

.form-wrap {
  max-width: 550px;
  text-align: center;
  margin: 0 auto; }

.landing-page .hero {
  max-width: 90%;
  margin: 0 auto; }
.landing-page .main-content {
  padding-top: 4em; }
.landing-page .main-form input[type*="text"], .landing-page .main-form input[type*="email"], .landing-page .main-form input[type*="number"], .landing-page .main-form input textarea, .landing-page .main-form input select {
  background: #ededed; }

/* FOOTER */
/* BUTTON */
@media (min-width: 400px) {
  .test {
    text-decoration: underline; } }
@media (min-width: 480px) {
  section {
    padding: 2em 0; } }
@media (min-width: 768px) {
  section {
    padding: 2em 0; }

  [class*="col"] {
    float: left; }

  .col6 {
    width: 50%; }
    .col6:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .col6:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; }

  .approach .col6 {
    width: 50%; }
    .approach .col6:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .approach .col6:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; }
  .approach .content {
    padding-left: 3em;
    padding-right: 3em; }

  .col4 {
    width: 33.33333%; }
    .col4:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .col4:nth-child(3n) {
      margin-right: 0;
      margin-bottom: 0; }

  .hero {
    padding: 5em 1em;
    margin: 0 3em 0em; }
    .hero p {
      margin: 2em 0; }
    .hero h1 {
      font-size: 75px; }

  .pagetitle {
    margin: 0 0 3em; }

  .mainfooter p {
    float: left; }
  .mainfooter .social {
    float: right; }

  .footer .col8 {
    width: 60%; }
  .footer .col4 {
    width: 40%; }

  .mainnav .row-fluid {
    padding: 2em 0 0; }

  .approach h2 {
    font-size: 40px;
    line-height: 1; }
  .approach .pillars .span4 {
    margin-bottom: 0; }
  .approach .graphic {
    padding: 10em; }

  .approach .hero, .contact .hero, .home .hero {
    padding: 5em 2.5em;
    margin: auto;
    max-width: 90%; } }
@media (min-width: 940px) {
  .work > .row-fluid {
    height: 600px; }

  .work > .row-fluid
  .item .overlay {
    padding: 5px; }
    .work > .row-fluid
    .item .overlay .content h2 {
      font-size: 45px; }

  .approach .content {
    padding-left: 5em;
    padding-right: 5em; }

  .blog .blogItems {
    margin: 3em; }
    .blog .blogItems li {
      padding: 4em; }
      .blog .blogItems li h2 a {
        font-size: 40px; }
      .blog .blogItems li .span6 {
        margin-top: 0; }

  .logo {
    width: auto; }

  .blog.blogInner .blogItems {
    max-width: 940px;
    margin: 3em auto;
    padding: 4em 7em; }
    .blog.blogInner .blogItems h2 {
      font-size: 50px;
      line-height: 1.1; }

  .ourWork .main-content ul.work li {
    width: 25%; }
    .ourWork .main-content ul.work li:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .ourWork .main-content ul.work li:nth-child(4n) {
      margin-right: 0;
      margin-bottom: 0; }

  .content {
    text-align: left; } }
@media (min-width: 1025px) {
  .work > .row-fluid .item .overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 2em; }

  .ourWork .main-content ul.work li > div {
    background-size: cover; }
    .ourWork .main-content ul.work li > div .overlay {
      opacity: 0;
      filter: alpha(opacity=0); }
      .ourWork .main-content ul.work li > div .overlay:hover {
        opacity: 1;
        filter: alpha(opacity=1); }

  .approach h2 {
    font-size: 40px; }
  .approach .graphic {
    padding: 10em; } }
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */

/*# sourceMappingURL=base.css.map */
