<li class="row-fluid">
    <div class="[[+tv.featured-image-article:notempty=`span5`]]">
        <p class="meta">[[+tv.article-tags]] / [[+publishedon:strtotime:date=`%m.%d.%y`]]</p>
        <h2><a href="[[~[[+id]]]]">[[+pagetitle]]</a></h2>
        <p>[[+introtext:default=`[[+content:ellipsis=`400`]]`]]</p>
        <a href="[[~[[+id]]]]">[[%articles.read_more]]</a>
    </div>
    [[+tv.featured-image-article:notempty=`
    <div class="offset1 span6">
        <img src="[[+tv.featured-image-article]]" alt="">
    </div>`]]
</li>