
    <script src="resources/js/production.js"></script>

	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
  <script src="resources/js/jquery.validate.js"></script>
	<script>
	$(document).ready(function(){
		$(function(){
			$('ul.work').mixItUp();

		});
    $(".contact-form").validate();
	})
	</script>
	
        <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        close = document.getElementById( 'close' ),
        body = document.body;

      
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      close.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      
    </script>
</body>
</html>