<div style="display:none">
        [[*pixel]]
    </div>
<section class="footer">
	<div class="row-fluid">
		<div class="row-fluid">
                [[!getResources? &parents=`-1` &resources=`8` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`contact-homepage`]]

			<div class="col4 subscribe">
				<h2>Subscribe to our newsletter</h2>
				<p>Tips, news, fun, no spam</p>
				<!-- Begin MailChimp Signup Form -->

[[$signup-form]]
    </div>
</form>
</div>

<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</section>
<footer class="mainfooter">
	<div class="row-fluid wrap">
		<p>Copyright ©2015 Avidity Creative. All rights reserved.</p>
		[[$social]]
	</div>
</footer>