<nav class="mainnav">
	<img src="resources/img/bug.png" alt="" class="bug hidden-phone">
	<div class="row-fluid wrap">
		<a class="logo" href="/"><img src="resources/img/logo.png" alt=""></a>
		[[$m-nav]]
		[[Wayfinder? &outerClass=`visible-desktop` &startId=`0`&level=`1` &outerTpl=`nav-outer` &innerTpl=`nav-inner`]]
	</div>
</nav>