<section class="hero" style="background-image:url('[[*header-image]]')">
                <div class="row-fluid wrap">
                    <div class="pagetitle">
                        <p>[[*pagetitle]]</p>
                    </div>
                    <h1>[[*hero-headline]]</h1>
                </div>
            </section>