<div class="hidden-desktop">
                            <a id="showLeftPush" class="ico-menu trigger"></a>
                            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                                <a id="close" class="ico-cross"></a>
                                [[Wayfinder? &startId=`0`&level=`1` &outerTpl=`nav-outer` &innerTpl=`nav-inner`]]
                                
                                <ul class="mnav-social">
                                    [[$social]]
                                </ul>
                
                            </nav>
                            </div>