<li class="mix [[+tags:replace=` ==`:replace=`,== `]] item">
                <div style="background-image:url('[[+featured-image]]')">
                    <div class="overlay">
                        <div class="content">
                            [[!$work-content]]
                        </div>
                    </div>
                </div>
            </li>