
<div id="mc_embed_signup">
<form action="//smugmug.us1.list-manage.com/subscribe/post?u=1b283063bf295c003f5115570&amp;id=aecb1c6119" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate main-form" target="_blank"  novalidate>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

<div class="row-fluid">
	<div class="mc-field-group span6">
		<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
		<input type="text" value="" class="required" name="FNAME" id="mce-FNAME">
	</div>
	<div class="mc-field-group span6">
		<label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
		<input type="text" value="" class="required" name="LNAME" id="mce-LNAME">
	</div>
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1b283063bf295c003f5115570_aecb1c6119" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script>
$(document).ready(function(){
    $("#mc-embedded-subscribe-form").submit(function (event){
            event.preventDefault();
            showConfirmation();
    });
});

function showConfirmation() {
    if ($('.mce-success-response').css('display') == 'none' ) {
    
} else { 
	$('#mc-embedded-subscribe-form .row-fluid, .mc-field-group, #mc-embedded-subscribe-form .button').fadeOut();
}
    }
</script>
