<ul class="social">
							<li><a href="[[++facebook-link]]" target="_blank" class="ico-facebook"></a></li>
							<li><a href="[[++twitter-link]]" target="_blank" class="ico-twitter"></a></li>
						</ul>