<section class="blogBlock">
                <div class="row-fluid">
                    <ul class="row-fluid">
                        [[getResources?
                      &parents=`7`
                      &tpl=`home-articles`
                      &showHidden=`1`
                      &limit=`3`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                    ]]
                    </ul>
                    <a href="/blog" class="button">View all blogs</a>
                </div>
            </section>