<div class="col6 featured item" style="background-image:url('[[+featured-image]]')">
    <div class="overlay">
        <div class="content">
            [[!$work-content]]
        </div>
    </div>

</div>