<div class="col6 item"  style="background-image:url('[[+featured-image]]')">
                                <div class="overlay">
                                    <div class="content">
                                        <div class="content-contain">
                                        [[!$work-content]]
                                        </div>
                                    </div>
                                </div>
                            </div>