<div class="row-fluid">
    <div class="col12 item" style="background-image:url('[[+featured-image]]')">
        <div class="overlay">
            <div class="content">
                [[!$work-content]]
            </div>
        </div>
    </div>
</div>