<li class="col4">
                            <p class="meta">[[+article-tags]] / [[+publishedon:strtotime:date=`%m.%d.%y`]]</p>
                            <h2>[[+pagetitle]]</h2>
                            <div class="contentContain">[[+content:limit=`150`]]<a href="[[~[[+id]]]]">...</a></div>
                            <a href="[[~[[+id]]]]">Read More</a>
                        </li>