<section class="hero" style="background-image:url('[[*header-image]]')">
    <div class="row-fluid wrap">
        <div class="pagetitle">
            <p>Welcome</p>
        </div>
        <h1>[[*hero-headline]]</h1>
        [[*hero-content]]
        <div class="button-row">
            <a href="[[~[[*button1-link]]]]">[[*button1-text]]</a>
            <a href="[[~[[*button2-link]]]]">[[*button2-text]]</a>
            
        </div>
    </div>
</section>