<section class="work">
        <div class="row-fluid">
            <div class="row-fluid">
                
                [[!getResources? &parents=`-1` &resources=`[[*featured-work]]` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`featured-work`]]
                <div class="col6 secondary">
                    
                [[!getResources? &parents=`-1` &resources=`[[*featured-work2]]` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`featured-work2`]]

                    <div class="cf row-fluid third row-fluid">
                            
                [[!getResources? &limit=`2` &parents=`4` &resources=`-[[*featured-work]],-[[*featured-work2]]` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`featured-work-auto`]]
                    </div>
                </div>
            </div>
        </div>
            <a href="/our-work" class="button">View all work</a>

    </section>