<div class="content-contain">
                <p class="meta">[[+tags:replace=`,== / `]]</p>
                <h2>[[+pagetitle]]</h2>
                <a href="[[~[[+id]]]]" class="button">View Project</a>
            </div>