[[+input_text_add:notempty=`
<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
<input [[+required:notempty=`required`]] type="[[+type]]" id="[[+label:replace=` ==_`:lcase]]" class="required" name="[[+label:replace=` ==_`:lcase]]"  placeholder="[[+placeholder]]">
`]]

[[+input_message_add:notempty=`
<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
<textarea row="10" [[+required:notempty=`requierd`]] id="[[+label:replace=` ==_`:lcase]]" name="[[+label:replace=` ==_`:lcase]]"></textarea>
`]]

[[+input_select_add:notempty=`
<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
<select value="[[+label:replace=` ==_`:lcase]]" id="[[+label:replace=` ==_`:lcase]]" class="select-styled" name="[[+label:replace=` ==_`:lcase]]">
    [[getImageList?
        &tvname=`options`
        &tpl=`options`
        &value=`[[+options]]`]]
</select>
`]]
