

    <form class="main-form row-fluid [[*pagetitle]]" method="post" action="assets/snippets/send_the_form.php" id="[[*pagetitle:lcase:replace=` ==_`]]">
      <input type="text" name = "Last__Name" id = "spam_check" value="" class="input" style = "position:absolute; top: -9999px;"/>
      
                <input type = "hidden" name = "send_the_form" value = "true" />
                <input type = "hidden" name = "options[subject]" value = "Contact Form" />
                <input type = "hidden" name = "options[to]" value = "Justin" />
                <input type = "hidden" name = "options[ajax]" value = "true" />
                <input type = "hidden" name = "options[pageAlias]" value = "[[*alias]]" />
                <input type = "hidden" name = "options[pageReferer]" value = "[[*success:is=``:then=`/contact`:else=`/[[#[[*success]].alias]]`]]" />


                [[getImageList?
                    &tvname=`contact-form`
                    &tpl=`contact_form_inputs`]]
                <input class="button contact-submit" type="submit" data-form = "#[[*pagetitle:lcase:replace=` ==_`]]"  value="[[*submit-text]]" />
            </form>


                  