[[$doc_head]]
  <body class="approach">
    [[$header]]
    [[$hero]]
    <section class="main-content">
        <div class="row-fluid">
            <div class="col6 content">
                <div class="contentContain">
                    [[*content]]
                </div>
            </div>
            <div class="col6 graphic" style="background-image:url('[[*graphic-image]]');">
            </div>
        </div>
        <div class="callout">
            <div class="wrap">
                <p class="meta">[[*our-approach-headline]]</p>
                <h2>[[*our-approach-msg]]</h2>
            </div>
        </div>
        <div class="pillars">
            <div class="row-fluid wrap">
                <div class="span4">
                    <img src="[[*column-1-img]]" alt="">
                    <h3>[[*column-1-headline]]</h3>
                    [[*column-1-copy]]
                </div>
                <div class="span4">
                    <img src="[[*column-2-img]]" alt="">
                    <h3>[[*column-2-headline]]</h3>
                    [[*column-2-copy]]
                </div>
                <div class="span4">
                    <img src="[[*column-3-img]]" alt="">
                    <h3>[[*column-3-headline]]</h3>
                    [[*column-3-copy]]
                </div>
            </div>
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]