[[$doc_head_blog]]
<body class="blog blogInner">
    [[$header]]
    <section class="blogItems main-content">
        <div class="row-fluid wrap content">
            <div class="row-fluid blogHead">
                <div class="span6">
                    <p class="meta">[[*article-tags:replace=`,== / `]] / [[*publishedon:strtotime:date=`%m.%d.%y`]]</p>
                    <ul class="socialShare">
                        <script>
                    function fbShare(url, title, descr, image, winWidth, winHeight) {
                    var winTop = (screen.height / 2) - (winHeight / 2);
                    var winLeft = (screen.width / 2) - (winWidth / 2);
                    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                }
                </script>
                        <li class="facebook"><a href="javascript:fbShare('[[++site_url]][[~[[*id]]]]', '+', '+', '[[++site_url]]/[[*featured-image-article]]', 520, 350)">Share</a></li>
                        <li class="twitter"><a href="https://twitter.com/intent/tweet?url=[[++site_url]][[~[[*id]]]]&amp;text=[[*pagetitle]]"onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Tweet</a></li>
                        <li class="mail"><a href="mailto:?subject=Avidity Creative: [[*pagetitle]]&body=[[++site_url]][[~[[id]]]] - Thought you might find this interesting">EMail</a></li>
                    </ul>
                    <h2>[[*pagetitle]]</h2>
                </div>
                [[*featured-image-article:notempty=`
                <div class="span6">
                    <img src="[[*featured-image-article]]" alt="">
                </div>
                `]]
            </div>
            [[*content]]


        </div>
    </section>
    <div class="row-fluid back">
     <a class="back" href="/blog"><span class="ico-arrow-left2"></span> Back</a>
 </div>
 [[$footer]]
 [[$doc_footer]]



