[[$doc_head]]
  <body class="blog">
    [[$header]]
    <section class="blogItems">
        <div class="row-fluid">
            <ul class="row-fluid">
                [[*content]]
            </ul>

        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
