[[$doc_head]]
  <body class="blog blogInner landing-page">
    [[$header]]
    [[$hero]]
    <section class="main-content">
        <div class="row-fluid wrap content">
            [[*content]]
        </div>
    </section>
    <section class="contact-form" id="contact-form">
        <div class="row-fluid form-wrap">
            [[*contact_form_content]]
            [[$contact_form_migx]]
        </div>
    </section>
    
[[$footer]]
[[$doc_footer]]
