[[$doc_head]]
  <body class="ourWork">
    [[$header]]
    <section class="main-content">
        <ul class="filters">

            <li class="active"><p class="filter" data-filter="all">All</p></li>
            [[!getResources? &limit=`0` &showUnpublished=`1` &parents=`16` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`filters`]]
        </ul>
        <ul class="work row-fluid">
            [[!getResources? &limit=`0` &parents=`4` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tpl=`portfolio`]]
        </ul>
    </section>
    [[$footer]]
    [[$doc_footer]]
