[[$doc_head]]
  <body class="blog blogInner">
    [[$header]]
    <section class="blogItems main-content">
        <div class="row-fluid wrap content">
                <div class="row-fluid blogHead">
                    <div class="span12">
                        [[*tags:notempty=`<p class="meta">[[*tags:replace=`,== / `]]</p>`]]
                        <h2>[[*pagetitle]]</h2>
                    </div>
                </div>
                [[*content]]


        </div>
    </section>
    <div class="row-fluid back">
       <a class="back" href="/our-work"><span class="ico-arrow-left2"></span> Back</a>
   </div>
    [[$footer]]
    [[$doc_footer]]
