[[$doc_head]]
  <body class="blog blogInner">
    [[$header]]
    <section class="blogItems main-content">
        <div class="row-fluid wrap content">
                <div class="row-fluid blogHead">
                    <div class="span6">
                        [[*tags:notempty=`<p class="meta">[[*tags:replace=`,== / `]]</p>`]]
                        <h2>[[*pagetitle]]</h2>
                    </div>
                    [[*featured-image:notempty=`
                    <div class="span6">
                        <img src="[[*featured-image]]" alt="">
                    </div>
                    `]]
                </div>
                [[*content]]


        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
