[[$doc_head]]
  <body class="contact">
    [[$header]]
    [[$hero]]
    <section class="main-content">
        <div class="row-fluid wrap">
            [[*content]]
        </div>
        [[*career-content:notempty=`<div class="careers">
            <div class="row-fluid wrap">
                <h1>Careers</h1>
                <hr class="half">
                [[*career-content]]
                <a href="/careers" class="button">View open positions</a>
            </div>
        </div>`]]
    </section>
    [[$footer]]
    [[$doc_footer]]