.work {
  .item {
  }
  > .row-fluid {
    
      .item {
        &:hover {
          .overlay {
          }
        }
        .overlay {
          @include opacity(0);
          padding:2em;


        }
      
    }
  }
}



.ourWork {
  .main-content {
    ul.work {
      li {
        > div {
          background-size:  cover;
          .overlay {
            @include opacity(0);
            &:hover {
              @include opacity(1);
            }
          }
        }
      }
    }
  }
}


.approach {
  h2 {
      font-size: 40px;
    }
  .content {
    
  }
  .graphic {
    padding:10em;
  }
}




