section {
	padding:2em 0;
}

[class*="col"]{
	float:left;
}

.col6 {
	@include rowGrid(2, 0);
}

.approach {
  .col6 {
  @include rowGrid(2, 0);
}
.content {
  padding-left:3em;
  padding-right:3em;
}
}

.col4 {
	@include rowGrid(3, 0);
}



.hero {
  padding:5em 1em;
  margin:0 3em 0em;

  p {
  	margin:2em 0;
  }
  h1 {
  	font-size: 75px;
  }

}


.pagetitle {
  margin:0 0 3em;

}

.mainfooter {

  p{
    float:left;
  }
  .social {
    float:right;
  }
}

.footer {
  .col8{
    width:60%;
  }
  .col4 {
    width:40%;
  }
}


.mainnav {

  .row-fluid {
    padding:2em 0 0;
  }
}

.blogBlock ul li .contentContain {
}





.ourWork {
  .main-content {
    ul {
      li {
        > div {
          .overlay {
            h2 {

            }
            .button {
            }
            .content {
              h2 {
              }
            }
            .meta {

              &:before {
              }
            }


          }

        }
      }
    }
  }
}


.approach {
  h2 {
    font-size: 40px;
    line-height: 1
  }
  .pillars {
    .span4 {
      margin-bottom: 0;
    }
  }
  .content {

  }
  .graphic {
    padding:10em;
  }
}


.approach, .contact, .home {
  .hero {
      padding: 5em 2.5em;
      margin: auto;
      max-width: 90%;
     
  }
}
