.work {

  > .row-fluid {
  	height:600px;
  }
}

.work {
  > .row-fluid 
  .item {
    .overlay {
      padding:5px;
      .content {

        h2{
          font-size: 45px;
        }
      }
    }
  }
}

.approach {
  .content {
  padding-left:5em;
  padding-right:5em;
}
}

.blog {
  .blogItems {
    margin:3em;
    li {
      padding:4em;
      h2 {
        a {
        font-size: 40px;
      }
    }
      .span6 {
        margin-top: 0;
      }
    }
  }
}

.logo {
  width:auto;
}


.blog.blogInner {
  .blogItems {
    max-width:940px;
    margin:3em auto;
    padding:4em 7em;
    h2 {
      font-size: 50px;
      line-height: 1.1;
    }
  }
}

.ourWork {
  .main-content {
    ul.work {
      li {
        @include rowGrid(4,0);
      }
    }
  }
}


.content {
  text-align: left;
}