/* Animations */

.left-fast {
  @include animation(900ms, left-fast, ease);

}

.right-fast {
 @include animation(900ms, right-fast, ease);
}

.roll-in-left {
 @include animation(900ms, roll-in-left, ease);
}

.up {
  @include animation(900ms, up, ease);
}

.down {
  @include animation(900ms, down, ease);
}

.fade-in {
  @include animation(900ms, fade-in, ease);
}

.delay {
  @include animation-delay (1s);
}

.delay2 {
  @include animation-delay (1.2s);
}



  @-webkit-keyframes shift_contrast {
    0% {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    }
    50% {
    -webkit-filter: contrast(2);
    filter: contrast(2);
    }

    100% {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    }
  }
  @-ms-keyframes shift_contrast {
    0% {
    filter: contrast(1);
    }
    40% {
    filter: contrast(2);
    }

    100% {
    filter: contrast(1);
    }
  }
  @keyframes shift_contrast {
    0% {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    }
    0% {
    -webkit-filter: contrast(2);
    filter: contrast(2);
    }

    100% {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    }
  }

/* KEYFRAMES */




/* SENCHA ANIMATIONS */
