/* Contact Form */
.main-form {
  position: relative;
  text-align: center;
  label.error {
    font-size: 12px;
    color:red;
    font-family: $body;
    padding-top: 0;
  }
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}
.validate.main-form {
  text-align: left;
  .indicates-required {
    font-size: 10px;
  }
}

.subscribe {
  p {
    margin-bottom: 0;
  }
}

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
  text-align: left;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 0px 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: white;
  border:solid 1px transparent;
  height:30px;
  text-align: left;


}

.main-form input,
.main-form textarea {
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
  box-shadow:none;
}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input.button {
  @include button($secondary, white);
  height:auto;
  display: inline-block;
  width:50%;
  margin:2em auto;
  background: transparent;
  text-align: center;
}

#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}


#mc_embed_signup div.mce_inline_error {
   margin: 0 !important; 
   padding: 0 !important; 
   background-color: transparent !important; 
  font-weight: bold;
  z-index: 1;
  color: red !important;
  font-size: 10px !important;
}