.mainnav {
	width:100%;
	top:0;
	z-index:1000;
	background: #f1f2f2;

	.row-fluid {
		padding:2em 0 0;
	}
	.bug {
		top:0;
		left:0;
		position: relative;
		float:left;
	}
@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			&.active {
				a {
					color:$secondary !important;
				}
			}
			&:after {
					content:"//";
					color:$secondary;
					letter-spacing:-5px;
				}
				&:last-child {
					&:after {
						content:none;
					}
				}
			a {
				&, &:visited, &:active {
					color:lighten($dark, 10%);
				}
				&:hover {
					color:$secondary;
				}
				padding:1em;
				text-transform: uppercase;
			}

		}
	}
}

.trigger {
	float:right;
	font-size: 27px;
}
.logo {
	float:left;
}
.cbp-spmenu-left {
	ul {
		float:none;
	li {

		float:none;
		&.active {
			a {
				background: $secondary;
				color:black !important;
			}
		}
		a {
			&:hover{
				color:black;
			}
		}
		&:after {
			content:none;
		}
	}
}
}

/* General styles for all menus */
.cbp-spmenu {
	background: #D2D2D2;
	position: fixed;
}


.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: $secondary;
}

.cbp-spmenu a:active {
	background: $secondary;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	padding: 10px
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

body {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
body {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.cbp-spmenu {
	#close {
		display: inline-block;
		border: 0;
		font-size: 28px;
		background: $secondary;
		margin-bottom: 1em;
	}
	.mnav-social {
		li {
			float: left;
			a {
				border-bottom: 0;
			}
			display: inline;
		}
	}

	.mnav-tophat {
		margin-top: 1em;
		li {
			a {
				font-size: 14px;
				border-bottom: 0;
				color: #ccc;
				padding: 5px 10px;
			}
		}
	}
}

.cbp-spmenu  {
	.dropdown-menu {
		float: none;
		position: relative;
		background: rgba(white, .1);
		box-shadow: none;
		border: none;
		width: 100%;
		margin: 0;
		padding: 0;
		border-radius:0;
		li {
			a {
				color:white;
			}
		}
	}
}

.dropdown-menu {
	@include transition(.3s all);
}


