* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " "; 
  display: table;
  width:100%; 
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  padding: 0;
  background: white;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */
[class*="col"] {
  width:100%;
}

.logo {
  width:80%
}


.row.full {

  > [class^="col-"],
  > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.blogBlock {
  max-width:90%;
  margin:auto;
  .meta {
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 3em;
    &:before{
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      background-color: $secondary;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    li {
      padding:1em;
      text-align: left;
      background: #e6e7e8;
      padding:3em;
      h2 {
        color: $dark;
        font-size: 25px;
        line-height: 1.2;
      }
      .contentContain {
       p {
          margin: 0 0 1em;
        }
      }
      &:nth-child(even){
        background: #f1f2f2;
      }
    }
  }
}

.button {
  @include button($secondary, white);
}


.button-row {
  margin-bottom: 10em;
  a{
    text-align: center;
    @extend .button;
    float:left;
    margin:0 !important;
    &:first-child{
      color:$dark;
      border-color:$dark;
      &:hover {
        color:lighten($dark,10%);
        background: transparent;
        border-color:lighten($dark,10%);
      }
    }
    &:last-child {
      color:white;
      background: $dark;
      border-color:$dark;

      &:hover {
        background: lighten($dark,10%);
        border-color:lighten($dark,10%);
      }
    }
  }
}
.pagetitle{
  p {
    color:$secondary;
    position: relative;
    display: inline-block;
    font-size: 18px;
    &:before{
      content: '';
      position: absolute;
      bottom: -10px;
      height: 2px;
      width: 50%;
      background-color: $dark;
    }

  }
  text-transform: uppercase;
  margin-bottom: 1em;
}

.mainnav {

  .row-fluid {
    padding:2em ;
  }
}

.home {
  .pagetitle {
    margin-top: 2em;
  }
  section {
    text-align: center;
    padding: 0;
    .button {
      margin:5em 0;
    }
  }
}

.approach, .contact, .home {
  .hero {
      padding: 3em 2.5em;
      margin: auto;
      max-width: 90%;
  }
}


.approach {
  .main-content .col6 {
    height:600px;
    display: table;
    .contentContain {
      display:table-cell;
      vertical-align:middle;
    }
  }
  .main-content {
    background-color: white;
    margin-bottom: 0;
  }
  .pillars {
    text-align: center;
    padding:5em 0 1em;
    background: white;
    .span4 {
      margin-bottom: 3em;
      padding:0 2em;
      img {
        margin-bottom: 1em;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    p{
      margin: 0;
    }
  }
  h2 {
      font-size: 40px;
    }
  .callout {
    text-align: center;
    background-color: #e6e7e8;
    padding:4em 0;
    letter-spacing:2px;
    
    .meta {
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 3em;

          &:before {
            content: '';
            position: absolute;
            bottom: -10px;
            height: 2px;
            width: 50%;
            left: 25%;
            background-color: $secondary;
          }
        }
  }
  .content {
    padding:3em 1em;
    background-color: $ultralight;
  }
  .graphic {
    padding:10em 0;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}

.hero {
  margin-top:50px !important;
  text-align: left !important;
  padding:3em 1em;
  background-size: cover;
  background-position: center;
  h1 {
    color:$dark;
    font-weight:700;
    font-size: 40px;
  }
  p {
    color:white;
    margin: 1em 0;
  }

}

.work {
  max-width:90%;
  margin:auto;

  padding:0;
  > h1 {
      font-size: 50px;
  text-transform: uppercase;
  color: lighten($primary, 10%);
  padding: 36px 0;
  }
  .item {
    padding:1em;
  }
  > .row-fluid {
    .third, .secondary {
      .item {
        .overlay {
          .content {
            .content-contain {
              display: inline-block;
            }
            .meta {
              margin-bottom: 1em;
            }
            h2 {
              font-size: 25px;
            }
            .button {
              margin:1em 0;
            }
          }
        }
      }
    }
    
    
    .item {
      text-align: center;
      background-size: cover;
      background-position: center;
      position: relative;
      background-color: white;
      &:hover {
        .overlay {
          @include opacity(1);
        }
      }
      .overlay {
        h2 {
          color:white;
          line-height: 1.2;

        }
        .button {
          @include button($dark, white);
          margin:1em 0;
        }
        .content {
          display: table;
          width: 100%;
          height: 100%;
          h2 {
            font-size: 25px;
          }
        }
        .meta {
          color:white;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 3em;

          &:before {
            content: '';
            position: absolute;
            bottom: -10px;
            height: 2px;
            width: 50%;
            left: 25%;
            background-color: $dark;
          }
        }
        .content {
          text-align: center;
        }
        text-align: center;
        background: rgba($secondary, .8);
        @include transition(.3s all);
        width:90%;
        height:90%;
        padding:2em;
        margin:auto;
        position: relative;
        margin-top: 2.5%;


      }
      
    }
  }
}
.work {
  .overlay {
    .content {
      text-align: center;
    }
  }
}
section {
  padding:2em;

}



.socialShare {
  li {
    display: inline;
    margin:0;
    padding:0;
    a {
      padding:1em;
      text-transform: uppercase;
    }
    .facebook {
      a {
        background: $facebook;
        &:hover {

        }
      }
    }
    .twitter {
      a {
        background: $twitter;
      }
    }
    .email {
      a {
        background: $email;
      }
    }
  }
}

footer {
  background: $dark;
  padding:3em 2em;
  text-align: left;
  .row-fluid {
    * {
      margin: 0;
    }
  }
  *{
    color:white;
  }
}

.content {
  text-align: center;
}

.ourWork {
  .item {
    padding:0;
  }
  .filters {
    margin:3em auto;
    width:90%;
    li {
      display: inline-block;
      margin-right:1em;
      &.active, &:hover {
        p {
          color:$secondary;
        }
      }
      p {
        cursor:pointer;
      }
    }
  }
  .main-content {
    margin:3em auto;
    max-width:1100px;
    padding: 0;
    background: none;
    ul.work {
      .mix {
        display: none;
      }
      li {
        float:left;
        @include rowGrid(1,0);
        > div {
          background-size:  cover;
          padding:5%;
          .overlay {
            h2 {
              color:white;
              line-height: 1.2;

            }
            .button {
              @include button($dark, white);
              margin:1em 0;
              font-size: 10px; 
            }
            .content {
              display: table;
              width: 100%;
              height: 100%;

              h2 {
                font-size: 20px;
                min-height:50px;
              }
            }
            .meta {
              color:white;
              position: relative;
              display: inline-block;
              text-transform: uppercase;
              font-size: 12px;
              margin-bottom: 1em;

              &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                height: 2px;
                width: 50%;
                left: 25%;
                background-color: $dark;
              }
            }
            text-align: center;
            background: rgba($secondary, .8);
            @include transition(.3s all);
            padding:1.25em;
            margin:auto;
            position: relative;


          }

        }
      }
    }
  }
}


.blog {
  .paging {
  text-align: center;
  ul {
    margin:0;
    padding: 0;
    li {
      width:auto;
      display: inline-block;
      color:white;
      margin:0 5px 0 0;
      padding: 0;
      background:none !important;
        line-height: 0;
        height:auto;

      a {
      padding:10px;
        background: $secondary;
        color:white;
        line-height: 0;
        margin: 0;
        font-size: 12px;  
        &.active {
          background: $dark;
        }
        &:hover {
          background: lighten($dark, 10%);
        }
      }
      &:last-child {
        margin:0;
      }
    }
  }
}
  .blogItems {
    margin:1em;
    padding:0;
    .socialShare {
      margin-bottom: 3em;
  li {
    display: inline-block;
    margin:5px 5px 5px 0px;
    padding:0;
    
    &:last-child {
      margin-right: 0;
    }
    a {
      padding:.5em 1.5em;
      text-transform: uppercase;
      color:white;
      display: inline-block;
    }
    &.facebook {
      a {
        background: $facebook;
        &:hover {
          background: lighten($facebook, 10%);
        }
      }
    }
    &.twitter {
      a {
        background: $twitter;
        &:hover {
          background: lighten($twitter, 10%);
        }
      }
    }
    &.mail {
      a {
        background: $email;
        &:hover {
          background: lighten($email, 10%);
        }
      }
    }
  }
}
    &.main-content  {
      padding:2em;
    }
    .blogHead {
      margin-bottom: 3em;
    }
    .meta {
      text-transform: uppercase;
      font-size: 16px;
      position: relative;
      display: inline-block;
      letter-spacing: 2px;
      margin-bottom: 2em;

      &:before{
        content: '';
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 50%;
        background-color: $secondary;
      }
    }
    li {
      padding:2em;
      margin:0 0 2em;
      background: $ultralight;
      h2
      {a {
        font-size: 25px;
        color:$dark;
        margin-bottom: 1.5em;
        &:hover {
          color:$secondary;
        }
      }
      }
      .span6 {
        margin-top: 1em;
        max-height:500px;
        overflow:hidden;
        img {
          width:100%;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(even){
        background:#e6e7e8;
      }
      
    }
  }
}


.content-contain {
  display: table-cell;
  vertical-align:middle;
}

.workWith {
  background: $secondary url('/resources/img/pattern.jpg') repeat;;
  display: table;
  text-align: center;
  .content-contain {
    a {
      margin-bottom: 0;
    }
  }
  h1 {
    color:white;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
  }
  .button {
    @include button($dark, white);
    margin:3em 0;
  }
}
.footer {
  padding:0;
  div[class*="col"] {
    padding:3em;
  }
}

.subscribe {
  text-align: left;
  background: #f1f2f2;
  h2 {
    color:$dark;
  }
  p {
    color:$secondary;
  }
  .main-form {
    .button {
      @include button($secondary, white);
      margin:1em 0;
      width:100%;
    }
  }
  input[type="text"]{
    background: white;
  }
}
.social {
  margin: 0;
  li {
    display: inline;
    margin-right:1em;
    a {
      color:white;
    }
  }
}
a:active, a:focus {
  outline:0 !important;
  text-decoration: none;
}
.back {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  text-transform: uppercase;
}

.wrap {
  margin:0 auto;
  max-width: 940px;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}
hr.half {
  border-top:solid 2px $secondary;
  width:50px;
  margin:2em auto;
  border-bottom-color:transparent;

}

.main-content{
    margin: 0 auto 50px;
  background: #f1f2f2;
  padding: 0 0 5em 0;
  max-width: 90%;
}

.contact {
  .careers {
  background: #e7e7e9;
}
  text-align: center;
  .main-content {
    padding:0;
    .wrap {
      max-width:550px;
    padding:5em 2em;

    }
  }
  .main-form input.button {
    width:auto;
  }
}
@media (min-width: 768px) and (max-width: 1025px){
  .logo {
    margin-left:1em;
  }
  .mainnav {
    .row-fluid {
      padding:2em 2em 0 2em !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 939px){

  .work {
    .featured.item {
      width:100%;
    }
    .col6.secondary {
      width:100%;
      .item {
        width:100%;
      }
      .third {
      .item {
        width:50%;
      }
    }
    }

  }

}

.work {
  .secondary {
    .third {
      .item {
        .button {
          padding:1.5em 1em;
        }
      }
    }
  }
}


.form-wrap {
  max-width:550px;
  text-align: center;
  margin:0 auto;
}

.landing-page {
  .hero {
    max-width:90%;
    margin:0 auto;
  }
  .main-content {
    padding-top:4em;
  }
  .main-form {
    input {
      &[type*="text"],&[type*="email"],&[type*="number"],textarea,select{
        background:#ededed;

      }
    }
  }
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


