body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $dark;
}

h1 {
  margin: 0 0 1em 0;
  font-weight: 700;
  line-height: 1;
  color: $dark;
  font-size: 40px;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:visited, &:active {
    outline:0;
    color:$secondary;
  }
  &:hover {
    color:darken($secondary, 10%);
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}