// COLOR PALETTE
$primary: #808285;
$secondary: #f5971e;
$dark: #414042;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #f1f2f2;
$link: red;
$facebook: #1a4c7f;
$twitter: #01aef0;
$email: #818286;

// FONT STACKS
$heading: 'Raleway', sans-serif;
$body: 'Raleway', sans-serif;

